.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; /* Ajusta el valor según el alto de tu navbar */
  z-index: 1000;
}


.grid-container {
  display: grid;
  padding-top: 5%;
  place-items: center;
  width: 100vw;
  height: auto;
  background: linear-gradient(180deg, #DEC4E1 0%, rgba(222, 196, 225, 0) 100%);
}

.boton2 {
  width: 20rem;
  height: 7.5rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 1.7rem;
  border-top-left-radius: 1.7rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #A915C5;
  font-family: 'Raleway';
  font-style: normal;
  border-color: white;
  font-size: 2rem;
  margin: 0 5rem;
  font-weight: bold;
}

@media (max-width: 868px) {
  .botones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .botones button {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.card {
  width: 90vw;
  height: auto;
  margin-top: -2rem;
  border-top: none;
  border-radius: 2rem;
  overflow: hidden;
}

.card-body {
  width: 100vw;
}

.card-text {
  text-align: justify !important;
  font-family: 'Raleway';
}

.imagen-responsiva {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 2rem;
}

.imagen1 img,
.imagen2 img,
.imagen3 img,
.imagen4 img {
  width: 35vw;
  height: 30vw;
  object-fit: cover;
  border-radius: 2rem;
}

.col-6.columna {
  width: 30vw;
}

.texto-columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.texto-columna h3 {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-size: 2.7vw;
  text-align: center;
  color: #A840C3;
  margin-top: 5%;
  margin-bottom: 1rem;
}

.texto-columna p {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.3vw; /* Utilizamos vw para ajustar el tamaño de la descripción en pantallas pequeñas */
  text-align: center;
}

.texto-columna h3,
.texto-columna p {
  margin-left: 50%;
  margin-right: -30%;
}


  .boton1 {
  width: 15rem;
  height: 3rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.7rem;
  color: #A915C5;
  font-family: 'Raleway';
  font-style: normal;
  border-color: white;
  font-size: 1.7rem;
} 

@font-face {
  font-family: 'Raleway';
  src: url('src/assets/fonts/Raleway-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dancing Script';
  src: url('src/assets/fonts/DancingScript-VariableFont_wght.ttf');
}