<footer class="bg-light py-3" id="contactos">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><span class="dot"></span>Punto Violeta </h5>
        <div class="row">
          <div class="col-4">
            <p class="card-text"> Teléfono: 911 ECU 911 </p>
            <p class="card-text"> Consultorio Jurídico Gratuito UTPL </p>
            <a href="#"> <i class="fab fa-instagram"></i> </a>
            <a href="#"> <i class="fab fa-youtube"></i> </a>
            <a href="#"> <i class="fab fa-facebook"></i> </a>
            <a href="#"> <i class="fab fa-twitter"></i> </a>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle mb-2 text-muted"> SOBRE NOSOTROS </h6>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Información punto violeta </p>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Información VdG: datos del estudio </p>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Información de la Cátedra y colaboradores </p>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Recursos </p>
          </div>
          <div class="col-4">
            <h6 class="card-subtitle mb-2 text-muted"> RECURSOS </h6>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Noticias VdG en Loja y Ecuador </p>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Vídeo de la campaña </p>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Asociaciones Aliadas </p>
            <p class="card-text"><i class="fas fa-caret-right fa-lg"></i> Buzon Informativo </p>
          </div>
        </div>
        <div class="text-center my-3 copyright">
        <div class="left">SENSIBILIZACÓN E IGUALDAD</div>
        <div class="right">COPYRIGHT LIID | UTPL 2022</div>
        </div>
      </div>
    </div>
  </div>
</footer>
