nav {
  position: fixed;
  z-index: 100;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #DEC4E1;
  z-index: 100;
  transition: top 0.3s;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Raleway;
  cursor: pointer;
}

  
.navbar-toggler {
  width: 10%;
  background: rgba(90, 23, 113, 1);
}

.offcanvas {
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%; /* Ajusta el ancho según tus necesidades */
  background-color: #DEC4E1;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.show.offcanvas {
  transform: translateX(0);
}

.offcanvas-header {
  padding-right: 1rem;
  background-color: #DEC4E1;
}

.offcanvas-title {
  margin-bottom: 0;
  color: white;
}

.offcanvas-body {
  margin-left: auto;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-family: Raleway;
  margin-left: 5rem;
  cursor: pointer;
}


@font-face {
  font-family: 'Raleway';
  src: url('src/assets/fonts/Raleway-Italic-VariableFont_wght.ttf');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px){
  .navbar {
    justify-content: flex-start;
  }

  .offcanvas {
    width: 40%;
    transform: translateX(0);
  }

  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 1rem;
  }
}







