.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna en dispositivos pequeños */
    place-items: center;
  }
  
  @media (max-width: 700px) {
    /* Media Query para dispositivos con un ancho mínimo de 700px */
    .grid-container {
      grid-template-columns: 1fr; /* Mantener una sola columna en dispositivos más grandes */
      max-width: 70%; /* Establecer un ancho máximo para el contenedor */
      margin: 0 1rem; /* Centrar el contenedor horizontalmente */
    }
  }
  
     
   .nombres {
    margin-top: 1rem;
    text-align: center;
  }

  .full-screen-title {
 /* Establece el ancho del título al 100% del ancho de su contenedor */
    text-align: center;
    margin: 0;
    font-family: 'Dancing Script', cursive;

  }

  .text5 {
    font-family: 'Dancing Script', cursive;
    color: #A840C3;
    text-align: center;
  }

  .text6{
    font-family: 'Dancing Script', cursive;
    color: #585151B2;
    margin: 0;
  }

  .text7{
    margin: 2rem 3rem;
    text-align: justify;
    font-family: Raleway;
  }

 .text8 {
    font-family: 'Dancing Script', cursive;
    color: #A840C3;
    font-size: 2rem;
    margin: 2rem 3rem;
 }

 .text9 {
    text-align: justify;
    font-family: Raleway;
    margin: 2rem 3rem;
 }

 .text10 {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 2rem;
    margin: 2rem 3rem;
 }

 .text11 {
    text-align: justify;
    font-family: Raleway;
    margin: 2.5rem 3rem;
    color: white;
 }

 #columna{
    background-color: #A840C3;
 }

 .card {
  margin-top: 1.5%;
  flex: 0 0 calc(100% / 3);
}

.card-header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(255, 157, 223, 0) 0%, rgba(255, 157, 223, 0.286458) 52.6%, #FF9DDF 100%);
  padding: 3%;
}

.card-body {
  margin-top: 6%;
}

.boton1{
  background-color: transparent;
  border: none;
  padding: 8px;
  transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
  font-family: 'Dancing Script', cursive;
  color: black;
  font-size: 1.5rem;
}

.boton1:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FD62E5 100%);
  border-color: transparent;
  transform: scale(1.2);
}

.arrow-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}


.card1 {
  padding: 0 3rem;
  border: none;
}

.imagen2 {
  margin-left: 6rem;
}

.titulo {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 2rem;
}

.descripcion {
  text-align: justify;
  font-family: Raleway;
  font-size: 1rem;
}

.card2 {
  background: linear-gradient(180deg, rgba(233, 238, 248, 0.7) 0%, rgba(245, 173, 248, 0.7) 100%);
  border-radius: 2rem;
}

.fa {
  font-size: 4rem; /* Tamaño de la fuente */
  color: #E68BFF;
  margin: 0.5rem;
}

.card-active {
  transition: transform 0.3s ease-out; /* Ajusta la duración y el efecto de transición según tus necesidades */
}

.card-active.card1 {
  transform: translateX(-100%); /* Ajusta la posición de la tarjeta al desplazarse */
}




