.image-container {
    position: relative;
    width: 100%;
    max-width: auto;
    overflow: hidden;
    padding-top: 6%;
    padding-bottom: 3%;
    background-color: #DEC4E1;
}
  
img {
    width: 100%;  
}

.points {
    position: absolute;
}
  
.point {
    position: absolute;
    border-radius: 50%;
    background: #C51594;
    box-shadow: 0px 0px 10px 10px #db62e1;
  }

.pulse {
    width: 22px;
    height: 22px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
@media (max-width: 768px) {
    .pulse {
      width: 10px;
      height: 10px;
    }

    .text-top,
  .text-bottom {
    font-size: 8vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
  }
  }
  

  
.pulse {
    animation: pulse 1s infinite;
  }

  .pulse.active {
    opacity: 1;
    transform: scale(1);
  }
  
  
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }
  .info {
    position: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    visibility: hidden;
    z-index: 1;
   
    
  }
  
  .info.visible {
    visibility: visible;
  }

  .text-top{
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(45deg,#1d2b64, #aa076b );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2vw;
    text-align: justify;
  }

  .text-bottom{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5vw;
  }

  .info.visible .text-bottom {
    display: block;
  }

