<div class="grid-container somos">
  <div class="card quienes" #cardPrincipal>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="quienes-header">
            <p class="text1">¿Quiénes somos?</p>
            <button class="btn btn-primary boton1 text0" (click)="vaciarCardPrincipal()">></button>
            
            <button *ngIf="cardVacia" class="btn btn-primary boton1 text0" (click)="volverCardPrincipal()"><</button>
          </div>
          <p *ngIf="cardVacia" class="text2">La tarjeta ha sido vaciada</p>
          <div class="quienes-body" *ngIf="!cardVacia">
            <p class="text2">Somos el Punto Violeta de la Universidad Técnica Particular de Loja, 
               avalado por la Cátedra UNESCO de Cultura y Educación para Paz. Nuestro 
               objetivo es promover una cultura de paz y prevenir y atender la violencia 
               en todos sus tipos, brindando atención integral y especializada a los grupos 
               más vulnerables, como mujeres, niñas, niños, adolescentes, adultos mayores y 
               personas con discapacidad, entre otros. Además, como parte de nuestra labor, 
               servimos como nexo entre los diferentes recursos e instituciones existentes en 
               la ciudad de Loja para una atención más eficaz y coordinada.</p>

            <p class="text3"> Tipos de violencia de género en contra de la mujer </p>
            
          <div class="grid-container">
               <div class="row ">
               <!-- card 1 imagen - Física -->
                    <div class="col-md-4 col-sm-6 col-xs-12"> 
                    <div class="card t1 ">
                        <div class="card-body t3">
                            <img src="../../assets/images/tipo1.png" alt="card-1" class="img-tipo1 img-responsive img-relative">
                            <div class="card-text t5">
                                <p class="tipos">Física</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 2 imagen - Sexual -->
                <div class="col-md-4 col-sm-6 col-xs-12"> 
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo2.png" alt="card-1" class="img-tipo1 img-responsive img-relative">
                            <div class="card-text t5">
                                <p class="tipos">Sexual</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- card 3 imagen - Psicológica -->
                <div class="col-md-4 col-sm-6 col-xs-12"> 
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo3.png" alt="card-1" class="img-tipo1 img-responsive img-relative"> 
                            <div class="card-text t5">
                                <p class="tipos">Psicológica</p>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- card 4 imagen - Económica -->
                <div class="col-md-4 col-sm-6 col-xs-12"> 
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo4.png" alt="card-1" class="img-tipo1 img-responsive img-relative"> 
                            <div class="card-text t5">
                                <p class="tipos">Económica</p>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- card 5 imagen - Obstétrica -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo5.png" alt="card-1" class="img-tipo1 img-responsive img-relative">  
                            <div class="card-text t5">
                                <p class="tipos">Obstétrica</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <!-- card 6 imagen - Acoso -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo6.png" alt="card-1" class="img-tipo1 img-responsive img-relative"> 
                            <div class="card-text t5">
                                <p class="tipos">Acoso</p>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- card 7 imagen - Bullying -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo7.png" alt="card-1" class="img-tipo1 img-responsive img-relative">  
                            <div class="card-text t5">
                                <p class="tipos">Bullying</p>
                            </div>  
                        </div>
                    </div>
                </div>
                <!-- card 8 imagen - Estado -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo8.png" alt="card-1" class="img-tipo1 img-responsive img-relative"> 
                            <div class="card-text t5">
                                <p class="tipos">Estado</p>
                            </div>   
                        </div>
                    </div>
                </div>
                <!-- card 9 imagen - Industrial -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="card t1">
                        <div class="card-body">
                            <img src="../../assets/images/tipo9.png" alt="card-1" class="img-tipo1 img-responsive img-relative"> 
                            <div class="card-text t5">
                                <p class="tipos">Industrial</p>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
  </div>
</div>
