.card-columns {
    display: flex;
  }

  @font-face {
    font-family: 'Dancing Script';
    src: url('../../../assets/fonts/DancingScript-VariableFont_wght.ttf');
}

.text1{
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: rgba(168, 64, 195, 1);
    margin: 1rem 0 0 2rem;
}

.card {
    border-radius: 20px; /* agrega borde redondeado */
    height: auto;
    width: 97%;
    margin: 0 1.5rem;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        margin: 0 1.5rem;
    }

    .boton1{
        margin-right: 50%;
    }

    .mapeo {
        width: 100%;
        margin-top: -10rem;
        margin-left: 2rem;
    }
  }

.card-title {
    font-size: 14px; /* Ajusta el tamaño de fuente del título de la card según tus preferencias */
}

.card-body .text4 {
    font-size: 12px; /* Ajusta el tamaño de fuente del texto dentro de la card según tus preferencias */
}
  
.somos {
    background: linear-gradient(180deg, #DEC4E1 0%, rgba(222, 196, 225, 0) 100%);
}
  
.quienes {
    flex-wrap: wrap;
    justify-content: center;
    border-left: white;
    border-right: white;
    border-bottom: white;
    height: auto;
}

.quienes-header {
    position: relative;
}
  
.card-vacia {
    background-color: transparent;
    border: none;
    padding: 0;
  }
  
  
.card-body .col-md-6 {
    position: relative;
}
  
.card-body .col-md-6 button {
    position: absolute;
    right: 0;
    bottom: 0;
}
  
.boton1{
    background-color: rgba(90, 23, 113, 1);
    border-color: rgba(90, 23, 113, 1);
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    border-radius: 10px;
    bottom: 2%; /* Ajusta la distancia desde la parte inferior */
    right: 2%; /* Ajusta la distancia desde el lado derecho */
    position: fixed;
    z-index: 9999;
}

.boton1:hover{
    background-color: rgba(222, 196, 225, 1);
}
  

.card button {
    position: absolute;
    bottom: 2%;
    right: 2%;
}   
  
.text0:hover{
    color: black;
}

.text2{
    font-family: Raleway;
    margin: 1rem 0 0 2rem;
}

.text3{
    font-family: 'Dancing Script', cursive;
    color: rgba(168, 64, 195, 1);
    margin: 1rem 0 2rem 3rem;
    font-size: 25px;
}

.t1{
    width: 130px;
    height: 150px;
    background: linear-gradient(rgba(233, 238, 248, 1), white);
    margin-bottom: 20%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    max-width: 800%; /* ajuste este valor según su necesidad */
}

.t1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 800%; /* ajuste este valor según su necesidad */
}

.t5{
    font-family: Raleway;
    font-size: 14px;
}

.tipos{
    text-align: center;
}

.nested-card.card1 {
    width: 100vw; /* Ajusta el valor según tus necesidades */
    margin: 1rem;
}

.cardInformacion {
    margin-left: -4%;
    overflow: hidden;
}

.informacion-wrapper {
    margin-top: -120px; /* Ajusta el valor según la altura de la sección que deseas ocultar */
    padding-top: 50px; /* Ajusta el valor para mantener el espacio necesario para la sección oculta */
  }

.mapa {
    width: 90%;
    margin-left: 3vw;
    margin-top: 7rem;
    height: auto;
}

  
  
  
  
  
  
  
  
  


  

  
 
  
  
  

 
  
 
  
  
  
  







  
  
  
  
  
  
  
  
  
  
  
  

  

  

  



 

 
  
  
 
  


  
  