<app-navbar (ocultarContenido)="ocultarContenido()"></app-navbar>
<app-slider (scrollEvent)="scrollToSection('violeta')"></app-slider>

<!-- Contenido adicional a ocultar -->
<div *ngIf="mostrarContenido">
  <app-content-card (scrollEvent)="scrollToSection('quienes-somos')"></app-content-card>
  <app-recursos (scrollEvent)="scrollToSection('recursos')"></app-recursos>
  <app-collaborators-card></app-collaborators-card>
</div>



<div *ngIf="!mostrarContenido">
  <app-galeria (scrollEvent)="scrollToSection('galeria')"></app-galeria>
</div>

<app-footer (scrollEvent)="scrollToSection('contactos')"></app-footer>
