<div class="container">
  <div class="row">
    <div class="col">
      <div class="column">
        <div class="row">
          <div class="col">
            <h4>
              Porcentaje de violencia contra las mujeres por ámbito a nivel
              nacional.
            </h4>
            <img
              src="../assets/images/graficas/Imagen 4.png"
              alt="Imagen 1"
              class="invisible-sides-image"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>
              Porcentaje de mujeres víctimas de violencia de género según el
              tipo de agresión a nivel nacional.
            </h4>
            <img src="../assets/images/graficas/Imagen 8.png" alt="Imagen 2" />
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="column">
        <div class="row">
          <div class="col">
            <h4>
              Porcentaje de mujeres víctimas de violencia de género según edad.
            </h4>
            <img src="../assets/images/graficas/Imagen 16.png" alt="Imagen 3" />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h4>
              Porcentaje de mujeres víctimas de violencia de género por
              características sociodemográficas (etnia) a nivel nacional.
            </h4>
            <img src="../assets/images/graficas/Imagen 13.png" alt="Imagen 4" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
