<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<div class="container-fluid bg-image" id="collaborators">
  <img
    src="../../assets/images/puntoVioleta2.png"
    alt="card-1"
    class="img-tipo1 img-responsive img-relative"
  />
  <div class="row colaborador">
    <div class="col-md-6 col-12">
      <h2 class="text-left">Cátedra de Cultura y Educación para la Paz</h2>
      <p class="text-left">
        Es una iniciativa importante que promueve la cultura de paz a nivel
        mundial a través de la educación, la investigación y la cooperación
        internacional, y que trabaja en estrecha colaboración con la UNESCO. Su
        trabajo se enfoca en identificar y difundir buenas prácticas en
        educación para la paz, generar conocimientos útiles y formar redes de
        colaboración para prevenir y resolver conflictos y promover la
        convivencia pacífica en diferentes contextos sociales y culturales.
      </p>

      <div class="col-md-6">
        <h2 class="text-left text2">Colaboradores</h2>
        <div class="row" id="colab">
          <div class="col-md-6 mb-3">
            <p class="text1"><i class="fas fa-user"></i> Gabriela Monteira</p>
            <p class="text1"><i class="fas fa-user"></i> Cecilia de Novales</p>
            <p class="text1"><i class="fas fa-user"></i> Ana Julia Zabaleta</p>
            <!-- <div class="image-container">
              <img src="" class="imagen1" />
            </div>-->
          </div>
          <div class="col-md-6 mb-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
