.card-deck {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  
  .card {
    background-color: rgba(55, 34, 84, 1);
    border-radius: 20px;
  }
  
  .card-title {
    color: white;
  }
  
  .card-text {
    color: white;
  }
  